<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/images/Adidas Logo.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="form" (ngSubmit)="submit()">
      <input type="text" id="firstName" class="fadeIn second" name="firstName" placeholder="First Name"  formControlName="firstName" >
      <div
      *ngIf="
        form.get('firstName')?.invalid &&
        form.get('firstName')?.touched
      "
    >
      <small>  Firstname is required! </small>
    </div>
      <input type="text" id="lastName" class="fadeIn second" name="lastName" placeholder="Last Name " formControlName="lastName">
      <div
      *ngIf="
        form.get('lastName')?.invalid &&
        form.get('lastName')?.touched
      "
    >
      <small>  Last Name is required! </small>
    </div>
      <input type="text" id="email" class="fadeIn third" name="email" placeholder="Email Address" formControlName="email">
      <div
      *ngIf="
        form.get('email')?.invalid &&
        form.get('email')?.touched
      "
    >
      <small>  Email is required! </small>
    </div>
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password" formControlName="password">
      <div
      *ngIf="
        form.get('password')?.invalid &&
        form.get('password')?.touched
      "
    >
      <small>  Passowrd is required! </small>
    </div>
      <input type="text" id="confirmPassword" class="fadeIn third" name="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">
      <div
      *ngIf="
        form.get('confirmPassword')?.invalid &&
        form.get('confirmPassword')?.touched
      "
    >
      <small>  Confirm Password is required !  </small>
    </div>
      
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>

    <!-- Remind Passowrd -->
   

  </div>
</div>